
ion-header ion-toolbar
{
  text-align: center;
}

ion-content div
{
  text-align: center;
}

.ShowContent
{
  text-align: center;
  margin-right: 400px;
  margin-left: 400px;
  background-color: rgb(221, 227, 233);
  color:black;
}

.img
{
  border:5px solid #021a40;
}  

ion-card{
  margin-right: 250px;
  margin-left: 250px;
  background-color: rgb(221, 227, 233);
}

.Title
{
  color:black;

}

.Welcome{
  color:black;
  margin-left: 1200px;
}
